body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ff7f50, #dc3545); /* Cam đến đỏ */
    color: #fff;
    margin: 0;
    padding: 0;
}
.navbar {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.navbar-brand {
    color: #fff !important;
}
.navbar-nav .nav-link {
    color: #fff !important;
}

#logo_app{
    width: 30px;
}
.container {
   /* max-width: 800px;*/
    margin: 80px auto 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}
h1 {
    font-size: 24px;
    color: #000; /* Black */
    margin-bottom: 20px;
}
.song-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    padding: 0;
    margin: 0;
}
.song-item {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8); /* Màu nền với độ trong suốt nhẹ */
    border: 1px solid rgba(255, 255, 255, 0.5); /* Màu viền nhẹ */
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}
.song-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.song-avatar {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}
.song-title {
    font-size: 18px;
    color: #dc3545; /* Đỏ */
    margin-bottom: 5px;
}
.song-artist {
    font-size: 14px;
    color: #666;
}

#scrollTopBtn {
    position: fixed;
    bottom: 50px;
    right: 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    display: none;
    z-index: 1000;
}

#scrollTopBtn:hover {
    background-color: #c82333; /* Màu đỏ sáng khi hover */
}

#scrollTopBtn::before {
    content: "↑"; /* Biểu tượng mũi tên lên */
}

.btn-c{
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 50%;
    width: 39px;
    height: 39px;
}
.btn-c:hover{
    background-color:rgba(0, 0, 0, 0.8);
    color: white;
    backdrop-filter: blur(10px);
}

.btn-c.active{
    background-color: white;
    color: #c82333;
}

.btn-c.btn-msg{
    border:solid 3px #ff7f50;
    color: #ff7f50;
}

.btn-c.btn-msg.active{
    border:solid 3px #ff7f50;
    color:white;
    background-color:#ff7f50;
}

.btn-c.btn-msg:hover{
    color: white;
    border:solid 3px black;
}

.song-item .btn-extension{
    position: absolute;
    font-size: 21px;
    z-index: 100;
    display: none;
    background-color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
}

.song-item .btn-extension.btninfo{
    top: 15px;
    right: 15px;
}

.song-item .btn-extension.btnvideo{
    top: 15px;
    left: 15px;
    border-radius: 10%;
}

.song-item .btn-extension.btnlyrics{
    top: 150px;
    right: 15px;
}

.song-item .btn-extension.btndownload{
    top: 150px;
    left: 15px;
}
.song-item .btn-extension.btnplay{
    top: 65px;
    left: 60px;
    width: 80px;
    height: 80px;
    background-color: #ffffffb5 !important;
    font-size: 55px;
}

.song-item .btn-extension i{
    color: #dc3545;
}

.song-item:hover .btn-extension{
    display: block;
}
